<md-toolbar color="primary" class="top-navbar-block">
    <div class="logo-block">
      <span>Second Line</span>
    </div>
    <div class="menu-block">
      <nav>
        <a md-button routerLink="/persons">Persons</a>
        <a md-button routerLink="/">Users</a>
        <a md-button routerLink="/">Positions</a>
        <a md-button routerLink="/">Departments</a>
        <a md-button routerLink="/">Companys</a>
      </nav>
    </div>
</md-toolbar>